body {
     background-color: rgba(46, 56, 61, 0.258); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}